

.EID{
    background-color: rgb(190, 44, 100)

    }
    .Mubarak{
        font-size:30px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }
    .hmm{
        font: size 30px;
        font-family: sans-serif;
        
    }
    .heart{
        background-color: blueviolet;
        color: yellow;
        font-size: 40px;
    }
    
        
        
